n8n/workflows/journalAddon.json
{
  "name": "journalAddon",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Parse JSONL from n8n binary store (works with v2+ binary IDs)\nreturn (async () => {\n  const item = $input.first();\n  if (!item.binary) throw new Error('No binary on input');\n\n  const binaryKey = Object.keys(item.binary)[0]; // typisk \"data\"\n  if (!binaryKey) throw new Error('No binary keys found');\n\n  // Fetch bytes from n8n's binary store\n  const buf = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n  const text = buf.toString('utf8');\n\n  const events = [];\n  for (const line of text.split('\\n')) {\n    const trimmed = line.trim();\n    if (!trimmed) continue;\n    try { events.push(JSON.parse(trimmed)); } catch {}\n  }\n\n  return events.map(e => ({ json: e }));\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "59961e11-cac9-469e-abab-7acd46bcb892",
      "name": "Parse JSONL"
    },
    {
      "parameters": {
        "jsCode": "// Collect unique questIDs from quest events (accepted + turned_in)\nconst questIds = new Set();\n\nfor (const item of items) {\n  const e = item.json;\n  if (e?.type !== 'quest') continue;\n\n  const action = e?.data?.action;\n  if (action !== 'accepted' && action !== 'turned_in') continue;\n\n  const id = e?.data?.questID;\n  if (typeof id === 'number' || typeof id === 'string') {\n    questIds.add(String(id));\n  }\n}\n\nreturn [...questIds].map(qid => ({\n  json: { questID: qid }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -128
      ],
      "id": "f76c6c54-b53d-464f-b3bf-dd4a33d6981b",
      "name": "Collect Quest IDs"
    },
    {
      "parameters": {
        "fileSelector": "=/Users/asbjborg/Documents/code/journal_addon/sessions/{{ $json.realm }}/{{ $json.character_name }}/session-{{ $json.session }}/session-{{ $json.session }}.jsonl",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "6f5d2658-7964-498d-bcda-0c357d83770c",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"realm\": \"Thunderstrike\",\n  \"character_name\": \"Maskine\",\n  \"session\": \"01\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        0
      ],
      "id": "48d9f14c-b2d8-4f4f-8572-cb61e104b913",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d7905d78-4773-4557-bf33-884b62087b3f",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Parse JSONL": {
      "main": [
        [
          {
            "node": "Collect Quest IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Parse JSONL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b4573106-21d2-4bbe-a6ea-b0aade02a681",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57eacd56cfac21d916c0bcdea69c7b2131437b30b960809f32f92aee239d36da"
  },
  "id": "guRxFAMLDhnxeiok",
  "tags": []
}